{% extends 'layouts/base.html' %}

{% block body %}
    <section class="bg-primary-3 pt-3 pb-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Courses</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-primary-3 has-divider text-light">
      <div class="container pb-6">
        <div class="row justify-content-center text-center">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <h1 class="display-3 mb-5">Courses</h1>
            <p class="lead">Anyone can learn InfoSec skills.</p>
          </div>
        </div>
      </div>
      <div class="divider">
        <img src="assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
      </div>
    </section>

    <section class="pt-8">
      <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body align-items-start">
                <div class="mb-3">
                  <a href="/courses/machine-learning-for-security.html"><h4>Machine learning for Security</h4></a>
                </div>
                <p>
                  Learn how to use Python machine learning frameworks to apply to security problems.
                </p>
                <a href="/machine-learning-for-security.html"><span class="badge badge-primary">14 sections</span></a>
              </div>
            </div>
          </div>

            <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body align-items-start">
                <div class="mb-3">
                  <a href="#"><h4>Information Security Policy</h4></a>
                </div>
                <p>
                  Policy is the foundation of how businesses apply information security controls. Learn how to build policy.
                </p>
                <a href="#"><span class="badge badge-primary">1 sections</span></a>
              </div>
            </div>
          </div>

            <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body align-items-start">
                <div class="mb-3">
                  <a href="#"><h4>Python Data Wrangling for Security</h4></a>
                </div>
                <p>
                  Learn how to use Python to analyse data for security purposes, from network packets to OSINT.
                </p>
                <a href="#"><span class="badge badge-primary">6 sections</span></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body align-items-start">
                <div class="mb-3">
                  <a href="#"><h4>Cyber Warfare Explained</h4></a>
                </div>
                <p>
                  Learn about cyber warfare without the exaggeration which often accompanies the discussion.
                </p>
                <a href="#"><span class="badge badge-primary">2 sections</span></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
