{% extends 'layouts/base.html' %}

{% block body %}

        <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                  <a href="../courses.html">Courses</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Cyber Warfare Explained</li>
              </ol>
            </nav>
            <h2 class="h1 mt-3 mb-4">Cyber Warfare Explained</h2>
              <p>Cyber Warfare Explained aims to help you understand what cyber warfare is and isn't and how it impacts on people and nations. The course avoids exaggeration and explains the concept, history, technology, and considers the future.</p>
              <hr>
              <h3>Introduction</h3>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">What is Cyber Warfare?</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
              <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Conducting a Cyber Attack</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
              <hr>
              <h3>Planned...</h3>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Artificial Intelligence</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  Sponsor to accelerate the release of this content.
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Computational Propaganda</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  Sponsor to accelerate the release of this content
                </span>
              </div>
            </a>
              <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Cyber on the Battlefield</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  Sponsor to accelerate the release of this content
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
