{% extends 'layouts/base.html' %}

{% block title %}Security Kiwi | Self-Paced InfoSec Education{% endblock %}
{% block meta_description %}Self-paced courses to teach yourself information security!{% endblock %}

{% block body %}
    <section>
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <h1 class="display-4">Learn information security topics at your own pace.</h1>
              <p class="lead">Security Kiwi's content is sponsored by the community and provided for free.</p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9">
            <div class="rounded bg-primary-3 p-4 text-light text-monospace shadow layer-2">
              <div>
                <span class="text-primary-2">$</span>
                <span data-typed-text data-type-speed="80" data-strings='["git clone https://github.com/securitykiwi/materials.git"]' data-loop="true" data-back-delay="2000"></span>
              </div>
            </div>
            <div class="decoration bottom right" data-aos="fade-up">
              <img class="bg-primary-2" src="assets/img/decorations/deco-blob-2.svg" alt="deco-blob-2 decoration" data-inject-svg />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-11">
            <div class="row">
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/text/font.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Easy to Understand</h4>
                  <p class="lead pr-xl-4">Courses are written in plain language and is accessible to beginners.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/code/git-4.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Multiple Modes of Learning</h4>
                  <p class="lead pr-xl-4">Courses contain text, diagrams, code, and video to appeal to all learners.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/communication/group.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Community Driven Content</h4>
                  <p class="lead pr-xl-4">Content is influenced by community feedback.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/tools/hammer-2.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Practical Learning</h4>
                  <p class="lead pr-xl-4">Courses teach usable information security skills and knowledge.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-alt has-divider">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2 class="h1">What topics do we cover?</h2>
              <p class="lead">Security Kiwi covers topics across information security domain and its expanding! Some examples:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body">
              <div class="flex-grow-1">
                <div class="h3">Machine Learning for Security</div>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </p>
              </div>
              <a href="#" class="hover-arrow">Go to Course Page</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="card card-body">
              <div class="flex-grow-1">
                <div class="h3">Information Security Policy</div>
                <p>
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </p>
              </div>
              <a href="#" class="hover-arrow">Go to Course Page</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="card card-body">
              <div class="flex-grow-1">
                <div class="h3">Cyber Warfare Explained</div>
                <p>
                  Unde omnis iste natus error sit voluptatem accusantium doloremque. Sed ut perspiciatis laudantium, totam rem aperiam.
                </p>
              </div>
              <a href="#" class="hover-arrow">Go to Course Page</a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
        <img src="assets/img/dividers/divider-3.svg" alt="graphical divider" data-inject-svg />
      </div>
    </section>

<section>
      <div class="container pb-0">
        <div class="row justify-content-center text-center mb-6">
          <div class="col-xl-8 col-lg-9">
            <h2 class="display-4 mx-xl-6">What is Security Kiwi?</h2>
            <p class="lead">
              Security Kiwi is a community supported set of growing resources for anyone to learn about and improve their information security knowledge for free.
            </p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-4 mb-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="200">
            <span class="display-4 text-primary-2 d-block" data-countup data-start="0" data-end="245" data-duration="3" data-grouping="true"></span>
            <span class="h6">Approx. Monthly Learners</span>
          </div>
          <div class="col-md-4 mb-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="300">
            <span class="display-4 text-primary-2 d-block" data-countup data-start="0" data-end="10230" data-duration="3" data-grouping="true" data-suffix="+"></span>
            <span class="h6">Learners Since Jan 2021</span>
          </div>
        </div>
        <div class="row justify-content-center mt-6 mb-lg-n7">
          <div class="col-xl-8 col-lg-9 layer-1">
            <div class="video-poster shadow-lg rounded mb-3">
              <a data-fancybox href="https://vimeo.com/40842620" class="btn btn-lg btn-primary btn-round">
                <img class="icon" src="assets/img/icons/theme/media/play.svg" alt="play icon" data-inject-svg />
              </a>
              <img src="assets/img/software-library-1.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
        <img class="bg-primary-3" src="assets/img/dividers/divider-1.svg" alt="divider graphic" data-inject-svg />
      </div>
    </section>

    <section class="bg-primary-3 text-light mb-lg-n7">
      <div class="container pb-md-6">
        <div class="row mb-4">
          <div class="col">
            <h2 class="h1">Consider GitHub Sponsors</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
            <img class="icon" src="assets/img/icons/theme/shopping/wallet.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Quality Content</h5>
              <p>
                Content is well researched and referenced to further reading.
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
            <img class="icon" src="assets/img/icons/theme/general/settings-1.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Practical Exercises</h5>
              <p>
                If you learn by doing, there are many practical exercises to go alongside text, images and video.
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
            <img class="icon" src="assets/img/icons/theme/files/cloud-upload.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Researched Derived</h5>
              <p>
                One of the aims of Security Kiwi is to bring knowledge from academic articles to more people.
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="400">
            <img class="icon" src="assets/img/icons/theme/communication/group.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Exclusive Benefits</h5>
              <p>
                GitHub Sponsors get access to sponsor-only content.
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="500">
            <img class="icon" src="assets/img/icons/theme/shopping/chart-line-1.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Support the Creator</h5>
              <p>
                It's taken hundreds of hours to get Security Kiwi to this point, and there's much more ahead!
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="600">
            <img class="icon" src="assets/img/icons/theme/tools/pantone.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Get Warm Fuzzy Feeling</h5>
              <p>
                GitHub Sponsors really help allow me to put more time and resources into Security Kiwi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-md-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card card-body border-0 o-hidden mb-0 shadow-3d text-light bg-primary">
              <div class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="h3 text-center mb-md-0">Sponsor Security Kiwi on GitHub</div>
                <a href="#" class="btn btn-lg btn-white">
      Learn more
    </a>
              </div>
              <div class="decoration layer-0">
                <img class="bg-primary-2" src="assets/img/decorations/deco-blob-1.svg" alt="deco-blob-1 decoration" data-inject-svg />
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>




    <section>
      <div class="divider flip-y">
        <img src="assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
      </div>
      <div class="container" data-aos="fade-up">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-5">
            <img src="assets/img/course-1.jpg" alt="Image" class="rounded-circle layer-2">
            <div class="decoration bottom left" data-aos="fade-up">
              <img class="bg-primary" src="assets/img/decorations/deco-blob-10.svg" alt="deco-blob-10 decoration" data-inject-svg />
            </div>
            <div class="decoration bottom left" data-aos="fade-right">
              <img class="bg-primary-2" src="assets/img/decorations/deco-lines-4.svg" alt="deco-lines-4 decoration" data-inject-svg />
            </div>
          </div>
          <div class="col-xl-5 col-md-6">
            <div class="h1">
              <div>Hello there, I'm Kris.</div>
            </div>
            <p class="lead">I created Security Kiwi to pass on what I have learned through education, hacking, and work. I'm still learning so I'll keep adding new content!</p>
            <a href="#" class="lead">@KrisBolton</a>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9">
            <h3 class="h2">Frequently Asked Questions</h3>
            <div class="my-4">
              <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">Can I change plans later on?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-1">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="200">
                <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">What is the difference between Pro and Ultimate?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-2">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="300">
                <div data-target="#panel-3" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                  <span class="h6 mb-0">Can I try before I buy?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-3">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="500">
                <div data-target="#panel-5" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5">
                  <span class="h6 mb-0">Is this a subscription service?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-5">
                  <div class="pt-3">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <span>Still have questions? Start a thread on <a href="#" class="hover-arrow">GitHub Discussions</a>
            </span>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
