{% extends 'layouts/base.html' %}

{% block title %}Security Kiwi | Self-Paced InfoSec Education{% endblock %}
{% block meta_description %}Self-paced courses to teach yourself information security!{% endblock %}

{% block body %}
    <section>
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-xl-8 col-lg-9 col-md-10">
            <h1 class="display-4">Learn information security topics at your own pace.</h1>
              <p class="lead">Security Kiwi's content is sponsored by the community and provided for free.</p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9">
            <div class="rounded bg-primary-3 p-4 text-light text-monospace shadow layer-2">
              <div>
                <span class="text-primary-2">$</span>
                <span data-typed-text data-type-speed="80" data-strings='["git clone https://github.com/securitykiwi/materials.git"]' data-loop="true" data-back-delay="2000"></span>
              </div>
            </div>
            <div class="decoration bottom right" data-aos="fade-up">
              <img class="bg-primary-2" src="assets/img/decorations/deco-blob-2.svg" alt="deco-blob-2 decoration" data-inject-svg />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-11">
            <div class="row">
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/text/font.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Easy to Understand</h4>
                  <p class="lead pr-xl-4">Courses are written in plain language and is accessible to beginners.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/code/git-4.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Multiple Modes of Learning</h4>
                  <p class="lead pr-xl-4">Courses contain text, diagrams, code, and video to appeal to all learners.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/communication/group.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Community Driven Content</h4>
                  <p class="lead pr-xl-4">Content is influenced by community feedback.</p>
                </div>
              </div>
              <div class="col-md-6 d-flex mb-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-round bg-primary mr-3">
                  <img class="icon bg-primary" src="{{ url_for('static', filename='img/icons/theme/tools/hammer-2.svg') }}" alt="icon" data-inject-svg />
                </div>
                <div>
                  <h4 class="mb-2">Practical Learning</h4>
                  <p class="lead pr-xl-4">Courses teach usable information security skills and knowledge.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-alt has-divider">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2 class="h1">What topics are covered?</h2>
              <p class="lead">Security Kiwi covers topics across information security domain and it's expanding! Some examples:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body">
              <div class="flex-grow-1">
                <div class="h3">Machine Learning for Security</div>
                <p>
                    Learn how to use Python machine learning frameworks to solve security problems.
                </p>
              </div>
              <a href="/courses/machine-learning-for-security.html" class="hover-arrow">Go to Course Page</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="card card-body">
              <div class="flex-grow-1">
                <div class="h3">Python Data Wrangling for Security</div>
                <p>
                    Learn how to use Python to analyse data for security purposes, from network packets to OSINT.
                </p>
              </div>
              <a href="/courses/python-data-wrangling-for-security.html" class="hover-arrow">Go to Course Page</a>
            </div>
          </div>
          <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="card card-body">
              <div class="flex-grow-1">
                <div class="h3">Cyber Warfare Explained</div>
                <p>
                    Learn about cyber warfare without the exaggeration which often accompanies the discussion.
                </p>
              </div>
              <a href="/courses/cyber-warfare-explained.html" class="hover-arrow">Go to Course Page</a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
        <img src="assets/img/dividers/divider-3.svg" alt="graphical divider" data-inject-svg />
      </div>
    </section>

<section>
      <div class="container pb-0">
        <div class="row justify-content-center text-center mb-6">
          <div class="col-xl-8 col-lg-9">
            <h2 class="display-4 mx-xl-6">What is Security Kiwi?</h2>
            <p class="lead">
              Security Kiwi is a community supported set of resources for anyone to learn about and improve their information security knowledge for free.
            </p>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-4 mb-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="200">
            <span class="display-4 text-primary-2 d-block" data-countup data-start="0" data-end="245" data-duration="3" data-grouping="true"></span>
            <span class="h6">Approx. Monthly Learners</span>
          </div>
          <div class="col-md-4 mb-3 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="300">
            <span class="display-4 text-primary-2 d-block" data-countup data-start="0" data-end="10230" data-duration="3" data-grouping="true" data-suffix="+"></span>
            <span class="h6">Learners Since Jan 2021</span>
          </div>
        </div>
        <div class="row justify-content-center mt-6 mb-lg-n7">
          <div class="col-xl-8 col-lg-9 layer-1">
            <div class="video-poster shadow-lg rounded mb-3">
              <a data-fancybox href="https://vimeo.com/40842620" class="btn btn-lg btn-primary btn-round">
                <img class="icon" src="assets/img/icons/theme/media/play.svg" alt="play icon" data-inject-svg />
              </a>
              <img src="assets/img/software-library-1.jpg" alt="Image">
            </div>
          </div>
        </div>
      </div>
      <div class="divider">
        <img class="bg-primary-3" src="assets/img/dividers/divider-1.svg" alt="divider graphic" data-inject-svg />
      </div>
    </section>

    <section class="bg-primary-3 text-light mb-lg-n7">
      <div class="container pb-md-6">
        <div class="row mb-4">
          <div class="col">
            <h2 class="h1">GitHub Sponsors</h2>
              <p class="lead">
              Please consider supporting Security Kiwi on GitHub Sponsors.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
            <img class="icon" src="assets/img/icons/theme/shopping/wallet.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Quality Content</h5>
              <p>
                Security Kiwi's content is high-quality and well researched, aiming to take your skills to the next level.
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="500">
            <img class="icon" src="assets/img/icons/theme/shopping/chart-line-1.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Support the Creator</h5>
              <p>
                It's taken hundreds of hours to get Security Kiwi to this point, and there's much more ahead!
              </p>
            </div>
          </div>
          <div class="col-md-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="600">
            <img class="icon" src="assets/img/icons/theme/tools/pantone.svg" alt="icon" data-inject-svg />
            <div class="ml-3">
              <h5>Get Warm Fuzzy Feeling</h5>
              <p>
                Your support helps put more time and resources into content development and reach more learners.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-md-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card card-body border-0 o-hidden mb-0 shadow-3d text-light bg-primary">
              <div class="position-relative d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="h3 text-center mb-md-0">Sponsor Security Kiwi on GitHub</div>
                <a href="#" class="btn btn-lg btn-white">
      Learn more
    </a>
              </div>
              <div class="decoration layer-0">
                <img class="bg-primary-2" src="assets/img/decorations/deco-blob-1.svg" alt="deco-blob-1 decoration" data-inject-svg />
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="pt-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-9">
            <h3 class="h2">Frequently Asked Questions</h3>
            <div class="my-4">
              <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="100">
                <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">What is Security Kiwi?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-1">
                  <div class="pt-3">
                    <p class="mb-0">
                      Security Kiwi is a collection of educational material for students to learn various topics in information secuirty. Its purpose is to give learners the knowledge and skills to do interesting things and apply them to their own problems and ideas. It's an oppurtunity for me (Kris Bolton) to give back to the community and continue to learn myself (you have to know a subject to teach it well!). You can read the <a href="/community.html" target="_blank">community page</a> to learn more.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="300">
                <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                  <span class="h6 mb-0">What is GitHub Sponsors?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-2">
                  <div class="pt-3">
                    <p class="mb-0">
                        <a href="#" target="_blank">GitHub Sponsors</a> is a feature built into GitHub allowing users to sponsor the creator of a project to financially support the project. Everything is handled by GitHub using your GitHub user so it's secure and easy to use. 100% of the amount goes to the creator.
                    </p>
                  </div>
                </div>
              </div>
                <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="300">
                <div data-target="#panel-3" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                  <span class="h6 mb-0">How can I submit feedback?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-3">
                  <div class="pt-3">
                    <p class="mb-0">
                        Yes, feedback is encouraged and greatly apprecaited. Seriosuly, if you see a typo, or something is hard to uderstand please let me know! Contact me at <a href="">[CONTACT]</a>.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="500">
                <div data-target="#panel-4" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5">
                  <span class="h6 mb-0">How can I get in touch?</span>
                  <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
                </div>
                <div class="collapse" id="panel-4">
                  <div class="pt-3">
                    <p class="mb-0">
                        Start a threat on the <a href="#" target="_blank">GitHb Discussions</a> page. You can also find me on Twitter <a href="https://twitter.com/krisbolton">@krisbolton</a> or discord Kris#0382.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <span>Still have questions? Start a thread on <a href="#" class="hover-arrow">GitHub Discussions</a>
            </span>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
