{% extends 'layouts/base.html' %}

{% block body %}

        <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                  <a href="../courses.html">Courses</a>
                </li>
                  <li class="breadcrumb-item">
                  <a href="/courses/soft-skills.html">Soft Skills</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">How to Conduct Research</li>
              </ol>
            </nav>
            <h2 class="h1 mt-3 mb-4">How to Conduct Research</h2>
              <p>In this course you will learn essential non-technical skills which are important for professional and personal development. You need more than technical skill to develop in your career and work with others.</p>
              <hr>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">How to Approach Learning</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">How to Conduct Research</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
