{% extends 'layouts/base.html' %}

{% block body %}

        <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="../courses.html">Courses</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Machine Learning for Security</li>
              </ol>
            </nav>
            <h2 class="h1 mt-3 mb-4">Machine Learning for Security</h2>
              <p>Test</p>
              <hr>
              <h3>Introduction to Machine Learning</h3>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">What is Machine Learning?</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Types of Machine Learning</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Machine Learning Project Stages</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Uses of Machine Learning in Security</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
              <hr>
              <h3>Building Models with Python Scikit-learn</h3>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Intro to Training Models</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Training Your First Model</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Training Neural Networks</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Evaluating a Model</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
              <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Tuning a Model</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
