{% extends 'layouts/base.html' %}

{% block body %}

<section class="header-inner">
      <div class="container">
        <div class="row my-4">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                  <a href="../courses.html">Courses</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Machine Learning for Security</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row mt-3 mb-7 justify-content-between">
          <div class="col-lg-7 col-xl-8 mb-3 mb-lg-0">
            <div class="rounded o-hidden">
              <div class="plyr" data-plyr-provider="vimeo" data-plyr-embed-id="40842620"></div>
            </div>
          </div>
          <div class="col-auto">
              <h3>Lessons</h3>
             <nav class="nav flex-column nav-pills">
                 <a class="nav-link pl-2 pt-1 active" href="#">Introduction to machine learning</a>
                 <a class="nav-link pl-2 pt-1" href="#">How ML can be applied to security</a>
                 <a class="nav-link pl-2 pt-1" href="#">Understanding how ML works</a>
                 <a class="nav-link pl-2 pt-1" href="#">How something can something</a>
                 <a class="nav-link pl-2 pt-1" href="#">How ML can be applied to security</a>
                 <a class="nav-link pl-2 pt-1" href="#">Understanding how ML works</a>
                 <a class="nav-link pl-2 pt-1" href="#">How something can something</a>
             </nav>
          </div>
        </div>
      </div>
    </section>

<section class="header-inner">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
              <h1 class="h1">Introduction to Machine Learning</h1>
              <p>Machine Learning for Security aims to take you from zero to using machine learning applied to security. This course lays the foundation for your own experimentation and projects.</p>
              <hr>
              <h3>Introduction to Machine Learning</h3>
            <a href="/courses/machine-learning-for-security/introduction-to-ml.html" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">What is Machine Learning?</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Types of Machine Learning</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Machine Learning Project Stages</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Uses of Machine Learning in Security</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
              <hr>
              <h3>Building Models with Python Scikit-learn</h3>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Intro to Training Models</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Training Your First Model</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Training Neural Networks</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
            <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Evaluating a Model</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
              <a href="#" class="card card-body hover-shadow-sm">
              <h4 class="mb-2">Tuning a Model</h4>
              <span>Some text here.</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                  <span class="badge bg-primary-alt text-primary">
                  x minutes to complete
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
