{% extends 'layouts/base.html' %}

{% block body %}
    <div class="article-progress">
      <progress class="reading-position" value="0"></progress>
      <div class="article-progress-wrapper">
        <div class="container">
          <div class="row">
            <div class="col py-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <div class="text-small text-muted mr-1">Reading:</div>
                  <div class="text-small">Privacy Policy</div>
                </div>
                <a href="#" class="btn btn-sm btn-primary">
                  <img class="icon" src="assets/img/icons/theme/devices/printer.svg" alt="printer icon" data-inject-svg />
                  <span>Print Page</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="pt-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-0" data-reading-position>
      <div class="container">
        <div class="row">
          <div class="col-auto">
          </div>
          <div class="col">
            <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-8">
                <span class="text-muted">Updated 20th August 2022</span>
                <h1 class="my-2">Privacy Policy</h1>
                <div>Version 1.0</div>
                <hr>
                <article class="article">
                  <p class="lead">
                    Privacy and the security of your personal data is important. Security Kiwi collects and processes a minimal amount of your personal information. This privacy policy describes the what, how, and why, in detail, and in plain language.
                  </p>
                  <h4>What data is collected?</h4>
                  <p>
                    When visiting this website certain personally identifiable data may be collected when the page is loaded and when you interact with certain elements (for example, forms). Additional data is collected when you create or login to your account (for example, the time an account was created).
                  </p>
                    <ul>
                    <li>Browser and operating system data of the type normally shared with website servers. For example, browser version, operation system, device type, and language.</li>
                    <li>Statistics and behavioural data on browsing this website. For example, which pages you visited, the time on each page, the origin website, which page you were on when you left the site, what elements you clicked on, and what elements were downloaded.</li>
                    <li>Your email address when you use the contact form or sign up for an account.</li>
                    <li>Location by country.</li>
                    <li>Your IP address.</li>
                    <li></li>
                    <li></li>
                  </ul>
                  <h4>How is data collected?</h4>
                  <p>

                  </p>
                  <h4>How is data used?</h4>
                  <p>

                  </p>
                  <h4>How is data stored?</h4>
                  <p>

                  </p>
                  <h4>Cookies</h4>
                  <p>
                      Cookies are files which are downloaded from websites to your computer which enable a variety of functionality. For example, remembering your preferences, counting website visitors, uniquely identifying the session, amongst many more.
                  </p>
                  <h4>Marketing</h4>
                  <p>

                  </p>
                </article>
                <hr>
                <h5>Updates to this policy</h5>
                <p>From time to time this privacy policy may be amended without notice. Please return to this page regularly to see if there have been any changes.</p>
                <ul>
                    <li>There have been no changes to date.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
