{% extends 'layouts/base.html' %}

{% block body %}
    <div class="article-progress">
      <progress class="reading-position" value="0"></progress>
      <div class="article-progress-wrapper">
        <div class="container">
          <div class="row">
            <div class="col py-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <div class="text-small text-muted mr-1">Reading:</div>
                  <div class="text-small">Privacy Policy</div>
                </div>
                <a href="#" class="btn btn-sm btn-primary">
                  <img class="icon" src="assets/img/icons/theme/devices/printer.svg" alt="printer icon" data-inject-svg />
                  <span>Print Page</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="pt-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-0" data-reading-position>
      <div class="container">
        <div class="row">
          <div class="col-auto">
          </div>
          <div class="col">
            <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-8">
                <span class="text-muted">Updated 20th August 2022</span>
                <h1 class="my-2">Privacy Policy</h1>
                <div>Version 1.0</div>
                <hr>
                <article class="article">
                  <p class="lead">
                    Privacy and the security of your personal data is important. This privacy policy describes the what, how, and why, we collect information about you in plain language.
                  </p>
                    <p>
                        Throughout this privacy policy we refer to this website (https://security.kiwi) as the "Service".
                    </p>
                  <h4>What data is collected?</h4>
                  <p>
                    This website only collects information about you when there is a reason to do so. For example, to provide the Service, to communicate with you, or to make the Service better.
                  </p>
                    <h5>Information you provide us</h5>
                    <p>
                        It's likely no surprise we collect information when you provide it to us. For example:
                    </p>
                    <ul>
                        <li><b>Communications with us:</b> when you communicate with us via email, in response to surveys, sign up for email newsletters, or contact our Twitter or GitHub accounts.</li>
                        <li><b>GitHub account information:</b> Security Kiwi uses GitHub's authentication service, when you choose to authenticate your GitHub account using this service, information may be shared.</li>
                    </ul>
                    <h5>Information collected automatically</h5>
                    <p>
                        We also collect information about you automatically. For example:
                    </p>
                    <ul>
                        <li><b>Log information:</b> browser and operating system data of the type normally shared with website servers. For example, browser version, operating system, device type, language, IP address, unique device identifiers, date and time of access, internet service provider or mobile network information.</li>
                        <li><b>Usage information:</b> statistics and behavioural data on how visitors use the Service. For example, which pages you visited, the time on each page, the origin website, which page you were on when you left the site, what elements you clicked on, and what elements were downloaded.</li>
                        <li><b>Location information:</b> your approximate geographic location derived from your IP address. We use this information, for example, to determine how many visitors originated from a particular country or region of the world.</li>
                        <li><b>Information from cookies and similar technologies:</b> a cookie is a string of information contained within a file that a website stores on a visitors computer in order to store preferences which the browser makes accessible to the website. Pixel tags (also called web beacons) are small blocks of code placed on websites and emails, used to determine, for example, if a webpage or email was opened. We use cookies and pixel tags to identify and track visitors, usage, email campaign effectiveness.</li>
                  </ul>
                    <h5>Information from other sources</h5>
                    <p>
                        We may also obtain information about you from other sources. For example:
                    </p>
                    <ul>
                        <li>Third party login: If you authenticate using GitHub we will receive associated login and account information (e.g., connection token, your username, your email address).</li>
                    </ul>
                  <h4>Why do we collect information about you?</h4>
                  <p>
                      Personally identifiable information and non-personally identifiable information is collected when a connection is made to Security Kiwi's server, when files and content are downloaded, at intervals when static on a page, and when you interact with elements on a page.
                  </p>
                    <p>
                        For example:
                    </p>
                    <ul>
                        <li>When you initially type "https://security.kiwi" into your web browser, your computer identifies itself to our server using an IP address.</li>
                        <li>When elements of the page are fetched from servers, your computer may identify itself using an IP address.</li>
                        <li>When you submit personal information via a form, e.g., signing up to a newsletter.</li>
                    </ul>
                  <h4>How is information about you used?</h4>
                  <p>
                    Your personally identifiable data is only collected and used when necessary and is protected appropriately. Some examples of how your personally identifiable information is used:
                  </p>
                    <ul>
                        <li>To provide the Service: </li>
                        <li>To ensure quality, maintain safety, and improve the Service:</li>
                        <li>To place and manage ads in our advertising program: </li>
                        <li>To market the Service and measure, gauge, and improve the effectiveness of marketing: </li>
                        <li>To protect the Service, users and the public: </li>
                        <li>To fix problems with the Service: </li>
                        <li>To customise the user experience: </li>
                        <li>To communicate with you: </li>
                    </ul>
                    <h5>Legal basis</h5>
                    <p>
                        For users in the European Union or United Kingdom this section describes the legal basis for processing information about you under the General Data Protection Regulation (GDPR). We process information about you on the grounds that:
                    </p>
                    <ol>
                        <li>The use is necessary in order to fulfill our commitments to you under the terms of service or is necessary to administer you account - for example, in order to enable access to the Service or collect your sponsorship monies;</li>
                        <li>The use is necessary for compliance with a legal obligation; or</li>
                        <li>We have a legitimate interest in processing information about you - for example, to provide and update the Service, to improve the Service to offer users a better experience, to protect the Service, to communicate with you, to measure, guage, and improve the  effectiveness of advertising, to understand user behaviour, retention and attrition, to monitor and prevent any problems with the Service, to personalise user experience; or</li>
                        <li>You have provided your consent - for example, before we place certain cookies on your device, or signing up to our email updates.</li>
                    </ol>
                  <h4>How is information about you shared?</h4>
                  <p>
                      We share information about you in limited circumstances and with appropriate safeguards to protect your privacy.
                  </p>
                    <ul>
                        <li><b>Independent contractors:</b> we may disclose information about you to independent contractors who need the information to help us provide, update, monitor, and improve the Service or process the information on our behalf. Independent contractors are required to adhere to this privacy policy and legal obligations.</li>
                        <li><b>Third party vendors:</b> we may share information about you with third party vendors and suppliers who need the information in order to provide their services to us, or to provide their service to you. This includes vendors that help provide the Service (like GitHub, Linode, BunnyCDN and others), those that assist us with our marketing efforts (e.g., by providing tools to improve our marketing campaigns), those that help us understand and enhance the Service (e.g., analytics providers such as Plausible Analytics), those that help us run our operations (e.g., task management, scheduling, word processing, email and other communicaitons, and collaboration among our team), other third party tools that help us manage operations, and companies that advertise on our website.</li>
                        <li><b>Legal and regulatory requirements:</b> we may disclose information about you in response to a lawful request from a Law Enforcement Agency or Government Department, in response to a court order, or other request where we are legally required to provide the information.</li>
                        <li><b>To protect rights, property, and others:</b> we may disclose information about you when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of the copyright holder of the Service, third parties or the public. For example, if we believe there is an imminent danger of death or serious injury, we may disclose information related to the emergency without delay.</li>
                        <li><b>Business transfers:</b> we may disclose information about you in connection with any merger, sale of assets or acquisition of all or a portion of the Service, If this was to happen, this privacy policy and legal obligations for the protection of the privacy and your individuals rights remain. The receiving party may continue to use your information, but only in accordance with this privacy policy and legal obligations.</li>
                        <li><b>With your consent:</b> we may share information about you with your consent or at your direction.</li>
                        <li><b>Aggregated or de-identified information:</b> we may share information that has been aggregated or de-identified so that it can no longer reasonably be used to identify you. For instance, we may publish or make available aggregate statistics about the use of the Service.</li>
                        <li><b>Published questions and support:</b> we may publish questions or requests for support in order to utilise the content to help others learn. Identifying features, such as your name and email address, will not be published.</li>
                    </ul>
                    <h4>Cookies</h4>
                  <p>
                      Cookies are files which are downloaded from websites to your computer which enable a variety of functionality. For example, remembering your preferences, counting website visitors, uniquely identifying the session, amongst many more.
                  </p>

                    <h4>How long is information kept?</h4>
                    <p>Information about you is only retained for as long as it is reasonably required, and where no legal reason requires us to keep it for longer.</p>
                    <p>For example, we retain server logs that record your information (e.g., your IP address), typically, for 30 days. We may retain such information for a longer period to safeguard the Service (e.g., retain your IP address to enable a firewall to block your access if your IP address was deemed malicious).</p>
                  <h4>Choices</h4>
                    <p>You have several options available regarding information about you:</p>
                    <ul>
                        <li>Limit the information you provide: </li>
                        <li>Limit access to information on your mobile device: </li>
                        <li>Opt out of communications: </li>
                        <li>Set your browser to reject cookies: </li>
                        <li>Opt out of analytics: </li>
                        <li>Cease using this Service: </li>
                    </ul>
                    <h4>Your Rights</h4>
                    <p></p>
                    <ul>
                        <li></li>
                    </ul>
                </article>
                <hr>
                <h5>Updates to this policy</h5>
                <p>From time to time this privacy policy may be amended without notice. Please return to this page regularly to see if there have been any changes.</p>
                <ul>
                    <li>There have been no changes to date.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
