{% extends 'layouts/base.html' %}

{% block body %}
    <div class="article-progress">
      <progress class="reading-position" value="0"></progress>
      <div class="article-progress-wrapper">
        <div class="container">
          <div class="row">
            <div class="col py-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <div class="text-small text-muted mr-1">Reading:</div>
                  <div class="text-small">Privacy Policy</div>
                </div>
                <a href="#" class="btn btn-sm btn-primary">
                  <img class="icon" src="assets/img/icons/theme/devices/printer.svg" alt="printer icon" data-inject-svg />
                  <span>Print Page</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="pt-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-0" data-reading-position>
      <div class="container">
        <div class="row">
          <div class="col-auto">
          </div>
          <div class="col">
            <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-8">
                <span class="text-muted">Updated 20th August 2022</span>
                <h1 class="my-2">Terms of Service</h1>
                <div>Version 1.0</div>
                <hr>
                <article class="article">
                  <p class="lead">
                    Terms of Service lead.
                  </p>
                  <h4>Term H4</h4>

                </article>
                <hr>
                <h5>Updates to the Terms of Service</h5>
                <p>From time to time the Terms of Service may be amended without notice. Please return to this page regularly to see if there have been any changes.</p>
                <ul>
                    <li>There have been no changes to date.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
