{% extends 'layouts/base.html' %}

{% block body %}
    <div class="article-progress">
      <progress class="reading-position" value="0"></progress>
      <div class="article-progress-wrapper">
        <div class="container">
          <div class="row">
            <div class="col py-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                  <div class="text-small text-muted mr-1">Reading:</div>
                  <div class="text-small">Privacy Policy</div>
                </div>
                <a href="#" class="btn btn-sm btn-primary">
                  <img class="icon" src="assets/img/icons/theme/devices/printer.svg" alt="printer icon" data-inject-svg />
                  <span>Print Page</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="pt-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Terms of Use</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-0" data-reading-position>
      <div class="container">
        <div class="row">
          <div class="col-auto">
          </div>
          <div class="col">
            <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-8">
                <span class="text-muted">Updated 20th August 2022</span>
                <h1 class="my-2">Terms of Use</h1>
                <div>Version 1.0</div>
                <hr>
                <article class="article">
                  <h4>Agreement to Terms</h4>
                    <p>These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity ("you") and the operator of Security Kiwi ("we", "us" or "our"), concerning your access to and use of the website https://security.kiwi as well as any other media form, media channel, mobile website or mobile application or otherwise connected thereto (collectively, the "Site"). You agree by accessing the Site, you have read, understood, and agree to be bound by all of these Terms of Use. IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SITE AND YOU MUST DISCONTINUE USE IMMEDIATELY.</p>
                    <p>Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms of Use from time to time. We will alert you about any changes by updating the "Last updated" date of these Terms of Use, and yo waive any right to receive specific notice of each such change. Please ensure that you check the applicable Terms every time you use the Site so that you understand which Terms apply. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms of Use by your continued use of the Site after the date such revised Terms of Use are posted.</p>
                    <p>The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.</p>
                    <p>This Site is not tailored to comply with industry-specific regulations, so if your interactions would be subject to such laws, you may not use this Site.</p>
                    <p>All users who are minors in the jurisdiction in which they reside must have the permissions of, and be directly supervised by, their parent or guardian to use the Site. If you are a minor, you must have your parent or guardian read and agree ot these Terms of Use prior to you using the Site.</p>

                    <h4>Intellectual Property Rights</h4>
                    <p></p>

                    <h4>User Representations</h4>
                    <p></p>

                    <h4>Prohibited Activities</h4>
                    <p></p>

                    <h4>User Generated Contributions</h4>
                    <p></p>

                    <h4>Contribution License</h4>
                    <p></p>

                    <h4>Submissions</h4>
                    <p></p>

                    <h4>Third-Party Website and Content</h4>
                    <p></p>

                    <h4>Advertisers</h4>
                    <p></p>

                    <h4>Site Management</h4>
                    <p></p>

                    <h4>Privacy Policy</h4>
                    <p></p>

                    <h4>Copyright Infringements</h4>
                    <p></p>

                    <h4>Term and Termination</h4>
                    <p></p>

                    <h4>Modification and Interruptions</h4>
                    <p></p>

                    <h4>Governing Law</h4>
                    <p></p>

                    <h4>Dispute Resolution</h4>
                    <p></p>

                    <h4>Corrections</h4>
                    <p></p>

                    <h4>Disclaimer</h4>
                    <p></p>

                    <h4>Limitations of Liability</h4>
                    <p></p>

                    <h4>Indemnification</h4>
                    <p></p>

                    <h4>User Data</h4>
                    <p></p>

                    <h4>Electronic Communications, Transactions, and Signatures</h4>
                    <p></p>

                    <h4>Miscellaneous</h4>
                    <p></p>

                    <h4>Contact Us</h4>
                    <p></p>
                </article>
                <hr>
                <h5>Updates to the Terms of Use</h5>
                <p>From time to time the Terms of Use may be amended without notice. Please return to this page regularly to see if there have been any changes.</p>
                <ul>
                    <li>There have been no changes to date.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
